<div class="jumbotron">
<div class="container">

	<div class="col-md-6 col-md-offset-2">
		

<h1>Listing Articles</h1>
<a class="btn btn-primary btn-sm" href="<%= new_article_path %>" role="button"><i class="fa fa-file-o "></i> New Article</a>
 
<table class="table table-hover">
  <tr>
    <th>Title</th>

    <th>Text</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
<td><a class="btn btn-primary btn-xs" href="<%= article_path(article) %>" role="button">Show</a></td>
    <td><a class="btn btn-primary btn-xs" href="<%= edit_article_path(article) %>" role="button"><i class="fa fa-pencil-square-o fa-"></i></a></td>
    
                    <td><a class="btn btn-primary btn-xs" role="button"
                    <%= link_to 'Delete', article_path(article),
                    method: :delete %> </a></td>
                    
    </tr>
  <% end %>
</table>
</div>
</div>
</div>
